<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <style>
        .positive{
            color : green;
        }
        .negative{
            color : red;
        }
    </style>
    <script src="angular.js"></script>
    <script>
        function Calculator(){
            this.number1 = 0;
            this.number2 = 0;
            this.result = 0;
            this.add = function(){
                this.result = parseInt(this.number1,10) + parseInt(this.number2,10);
            };
            this.subtract = function(){
                this.result = parseInt(this.number1,10) - parseInt(this.number2,10);
            };
            this.multiply = function(){
                this.result = parseInt(this.number1,10) * parseInt(this.number2,10);
            };
            this.divide = function(){
                this.result = parseInt(this.number1,10) / parseInt(this.number2,10);
            };
        }
        var myApp = angular.module("myApp", []);
        myApp.run(function($rootScope){
            $rootScope.counter = 0;
            $rootScope.incrementCounter = function(){
                ++$rootScope.counter;
            }
        })
        myApp.controller("calculatorController", function($scope){
            $scope.calculator = new Calculator();
            $scope.operation = '';
            $scope.calculate = function(){
                $scope.calculator[$scope.operation]();
                //++$scope.counter;
                $scope.incrementCounter();
            }
        });

    </script>
</head>
<body ng-app="myApp" >
   <div ng-controller="calculatorController">
        <input type="text" ng-model="calculator.number1">
        <select ng-model="operation" >
            <option value="add">add</option>
            <option value="subtract">subtract</option>
            <option value="multiply">multiply</option>
            <option value="divide">divide</option>
        </select>
        <input type="text" ng-model="calculator.number2">
        <input type="button" value="Calculate" ng-click="calculate()">
        <!--<div ng-bind="calculator.result" ng-style="{color : calculator.result > 0 ? 'green' : 'red'}"></div>-->
        <div ng-bind="calculator.result" ng-class="{positive : calculator.result >= 0, negative : calculator.result < 0}"></div>
   </div>
   <div>
       <span>Total calculate operations = </span>
       <span ng-bind = "counter" >[Total operations]</span>
   </div>
</body>
</html>
